@import '../variables';

.button {
  @media (min-width: 992px) {
    &:hover {
      &:hover {
        transform: translateY(0px);
      }

      &:active {
        transform: translateY(2px);
        background-color: rgb(0, 131, 207);
      }
    }
  }
}

.button-cart {
  padding: 15px 0px 13px 0px;
  padding-left: 21px;
  padding-right: 21px;
  border-radius: 30px;
  background-color: $blue;
  display: flex;

  span {
    font-size: 18px;
    color: $white;
  }

  i {
    color: $white;
    font-size: 15px;
  }
}

.button-price-icon {
  padding: 0px 15px 0px 0px;
  i {
    padding: 0px 0px 0px 7px;
  }
}

.button-cart-icon {
  padding: 0px 0px 0px 15px;
  i {
    padding: 0px 7px 0px 0px;
  }
}

.button-count {
  white-space: nowrap; // *
  padding: 12px 20px;
  border-radius: 30px;
  background-color: $white;
  color: $blue;
  font-size: 17px;
  font-weight: 600;

  i {
    margin: 0px 10px 0px 0px;
    font-size: 20px;
  }
  span {
    font-size: 17px;
    margin: 0px 0px 0px 10px;
    background-color: $blue;
    border-radius: 50%;
    padding: 2px 7px;
    color: $white;
  }

  @media (min-width: 992px) {
    &:hover {
      background-color: $blue;
      color: $white;
      transform: translateY(0px);

      span {
        background-color: $white;
        color: $blue;
      }
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &.button-outline {
    border: 2px solid $blue;
  }
}

.btn-exit {
  padding: 17px 30px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid $gray-light;
  i {
    margin: 0px 10px 0px 0px;
    transform: translate(0px, 1px);
    color: $black;
    @media (min-width: 992px) {
      animation: arrow 1.5s ease-in-out infinite;
    }
  }
  color: rgb(160, 160, 160);
  font-size: 18px;
  &:hover {
    border: 1px solid rgb(97, 97, 97);
    color: rgb(97, 97, 97);
  }
}

.btn-pay {
  padding: 17px 31px;
}

.btn-cart-hover {
  &:hover {
    transform: translateY(0px);
  }
  &:active {
    transform: translateY(2px);
  }
}

.button-cart-emty {
  margin: 20px 0px 0px 0px;
  span {
    color: $white;
    font-size: 20px;
  }
  i {
    margin: 0px 10px 0px 0px;
    transform: translate(0px, 1px);
    color: $white;
    font-size: 18px;

    @media (min-width: 992px) {
      animation: arrow 1.5s ease-in-out infinite;
    }
  }
  padding: 14px 24px;
  border-radius: 30px;
  border: 1px solid $header-top-bg;
  background-color: $header-top-bg;
  &:hover {
    transform: translateY(0px);
  }
  &:active {
    transform: translateY(2px);
  }
}

@keyframes arrow {
  0% {
    transform: translate(0px, 1px);
  }
  50% {
    transform: translate(-10px, 1px);
  }
  100% {
    transform: translate(0px, 1px);
  }
}
