@import '../variables';

.wrapper-cart {
  width: 900px;
  margin: 0 auto;
}

.cart {
  &__top {
    padding: 80px 0px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(212, 212, 212, 0.363);
  }
  &__title {
    font-size: 35px;
    font-weight: 600;
    i {
      margin: 0px 10px 0px 0px;
    }
  }
  &__clear {
    transition: color 0.1s linear;
    &:hover {
      color: rgb(255, 96, 96);
    }
    cursor: pointer;
    color: gray;
    text-transform: uppercase;
    i {
      margin: 0px 5px 0px 0px;
    }
  }
  &__bottom {
    margin: 30px 0px 150px 0px;
    display: flex;
    justify-content: space-between;
  }
}

.item-cart {
  padding: 30px 0px 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(212, 212, 212, 0.363);
  &__type {
    font-size: 18px;
    color: gray;
    span {
      color: $black;
      font-weight: 600;
    }
  }
  &__size {
    color: gray;
    font-size: 18px;
    margin: 6px 0px 0px 0px;
    span {
      color: $black;
      font-weight: 600;
    }
  }
  &__info {
    min-width: 342px;
    align-items: center;
    display: flex;
    img {
      border-radius: 10px;
      height: 120px;
      width: 150px;
    }
  }
  &__body {
    margin: 0px 0px 0px 20px;
  }
  &__name {
    font-weight: 600;
    font-size: 27px;
  }
  &__details {
    margin: 10px 0px 0px 0px;
  }
  &__count {
    display: flex;
    align-items: center;
    span {
      font-size: 27px;
      font-weight: 600;
    }
    i {
      font-size: 11px;
      cursor: pointer;
      background-color: transparent;
      color: $blue;
      border: 2px solid $blue;
      border-radius: 50%;
      padding: 9px 10px;
      &:first-child {
        margin: 0px 15px 0px 0px;
      }
      &:last-child {
        margin: 0px 0px 0px 15px;
      }
      transition: color, border-color 0.1s linear;
      &:hover {
        color: rgb(0, 131, 207);
        border-color: rgb(0, 131, 207);
      }
    }
  }
  &__price {
    font-size: 25px;
    font-weight: 600;
    i {
      font-size: 22px;
      margin: 0px 0px 0px 8px;
      transform: translate(0px, -1px);
    }
  }
  &__close {
    cursor: pointer;
    font-size: 35px;
    color: rgba(255, 122, 122, 0.6);
    transition: color 0.1s linear;
    &:hover {
      color: rgb(255, 96, 96);
    }
  }
}
.result-cart {
  margin: 30px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  &__length {
    font-size: 27px;
    span {
      font-weight: 600;
    }
    i {
      font-weight: normal;
      font-style: normal;
      font-size: 20px;
    }
  }
  &__total {
    font-size: 27px;
    span {
      margin: 0px 0px 0px 7px;
      font-weight: 600;
    }
    i {
      font-size: 22px;
      margin: 0px 0px 0px 6px;
      transform: translate(0px, -1px);
    }
  }
}
.cart-empty {
  padding: 80px 0px 0px 0px;
  text-align: center;

  &__title {
    font-weight: 600;
    font-size: 30px;
  }
  &__text {
    padding: 20px 0px 0px 0px;
    font-size: 20px;
    line-height: 30px;
  }
  &__image {
    img {
      height: 500px;
      width: 100%;
    }
  }
}
