@import '../variables';

.on-off-toggle {
  width: 56px;
  height: 24px;
  position: relative;
  display: inline-block;
}

.on-off-toggle-theme__light {
  width: 56px;
  height: 24px;
  display: block;
  border-radius: 34px;
  background-color: $header-top-bg; //
  transition: background-color 0.4s;

  cursor: pointer;

  &:before {
    content: '';
    display: block;
    background-color: #fff;
    box-shadow: 0 0 0 1px #949494;
    bottom: 3px;
    height: 18px;
    left: 3px;
    position: absolute;
    transition: 0.4s;
    width: 18px;
    z-index: 5;
    border-radius: 100%;
    transform: translateX(0px);
  }

  &:after {
    display: block;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    content: '';
    color: #484848;
    padding-left: 26px;
    transition: all 0.4s;
  }
}

.on-off-toggle-theme__dark {
  width: 56px;
  height: 24px;
  display: block;
  border-radius: 34px;
  background-color: #d8d8d8; //
  transition: background-color 0.4s;

  cursor: pointer;

  &:before {
    content: '';
    display: block;
    background-color: #fff;
    box-shadow: 0 0 0 1px #949494;
    bottom: 3px;
    height: 18px;
    left: 3px;
    position: absolute;
    transition: 0.4s;
    width: 18px;
    z-index: 5;
    border-radius: 100%;
    transform: translateX(32px);
  }

  &:after {
    display: block;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    content: '';
    color: #484848;
    padding-left: 26px;
    transition: all 0.4s;
  }
}

.on-off-toggle__input {
  position: absolute;
  opacity: 0;
}

// .on-off-toggle__input:checked + .on-off-toggle__slider {
//   background-color: #d8d8d8;

//   &:before {
//     transform: translateX(32px);
//   }

//   &:after {
//     content: '';
//     color: #ffffff;
//     padding-left: 8px;
//   }
// }
