@import '../variables';
@import '../mixins';

.modal-confirm-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-confirm {
  margin: 0px auto 0px auto;
  background-color: rgb(255, 255, 255);
  width: 770px;
  height: 170px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.158);
  box-shadow: 0px 0px 10px 1px rgba(34, 60, 80, 0.5);

  &__header {
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
    position: relative;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: 10px;
    color: rgba(255, 60, 60, 0.8);
    font-size: 30px;
  }

  // .modal-confirm_yes
  &_yes {
    @include modal-response-btn;
  }
  // .modal-confirm_no
  &_no {
    @include modal-response-btn;
    margin: 0px 0px 0px 30px;
  }
  // .modal-confirm__title
  &__title {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0px 0px 0px;
  }

  &__response {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 0px 0px 35px 0px;
  }
}
