$maxWidthContainer: 1220px;

$minWidth: 320px;
$maxWidth: 1920px;
$md1: $maxWidthContainer + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$orange: #fe5f1e;
$white: #ffff;
$black: #000;
$blue: rgb(19, 163, 247);
$gray-light: rgba(202, 202, 202, 0.705);
